body {
  margin: 0;
  padding: 0 0 0 0;
  background-color: #2D2D2D;
  // background-image: url('');
  // background-repeat: no-repeat;
}

.header {
  margin: 0 auto;
  width: 90%;
  height: 20px;
  background-color: none;
  border-bottom: 1px solid #2D2D2D;
  border-radius: 10px;
}
