body {
  margin: 0;
  padding: 0 0 0 0;
  background-color: #E9EAED;
  // background-image: url('http://images.clipartpanda.com/location-icon-vector-blue-pin.svg');
  // background-repeat: no-repeat;
}

.header {
  margin: 0 auto;
  width: 90%;
  height: 20px;
  background-color: #E9EAED;
  border-bottom: 1px solid #2D2D2D;
  border-radius: 10px;
}
