<nav class="nav">
  <ul class="ul">
    <li><a class="navhome" ng-href="#homesection" du-smooth-scroll duration="1000"> Home </a></li>
    <li><a class="navrestaurants" ng-href="#bottominstructions" du-smooth-scroll duration="1000"> Restaurants </a></li>
    <li><a class="navrate" ng-href="#/rate/:id?search"> Rate </a></li>
    <li><a class="navabout" ng-href ="#/about"> About </a></li>
  </ul>
</nav>

<nav class="about-blackbar">
</nav>


<div class="leftbox">
  <h1 class="abouthead"> About Restaurant Rater </h1>

  <p class="restaurantdis">
    Restaurant Rater is an app that allows you to search for local Restaurants in your area. <br>
    Once you've found and Rated your Restaurant, <br>
    Restaurant Rater will display the average Rating for each option based off all user ratings.
  </p>
</div>

<div class="rightbox">



</div>
