<div class="main">

  <div class="headermain">

  </div>

  <div class="header">

  </div>

  <div class="headbox">

    <h4> Search For a Fast Food Franchise </h4>

    <form class="locationsform" ng-submit="locationsCtrl.search()">
       <img src="http://www.clker.com/cliparts/W/x/V/N/a/o/orange-pin-hi.png"/>
       <input class="searchbox" type="text" placeholder="Restaurant" ng-model="locationsCtrl.place">
       <input class="locationsbutton" type="submit" value="Submit">
       <input class="logout" type="button" value="Logout" ng-click="locationsCtrl.logout()">
    </form>
  </div>

  <br>



  <ng-map center="[{{ locationsCtrl.location.lat }}, {{ locationsCtrl.location.lng }}]" class="map"
    zoom="12"
    map-type-id="TERRAIN">

   <marker ng-repeat="place in locationsCtrl.places" position="[{{ place.geometry.location.lat() }}, {{ place.geometry.location.lng() }}]"></marker>

  </ng-map>


  <h2 class="bottominstructions" ng-if="locationsCtrl.places.length > 0"> Click on a box to rate a Restaurant </h2>

  <a ui-sref="rate({ id: place.id })" ng-repeat="place in locationsCtrl.places">
    <div class="container">
      {{ place.name }}
      {{ place.vicinity }}
    </div>
  </a>



</div>
