<div class="main">

  <div class="headermain">

  </div>

  <div class="header">

  </div>

  <div class="headbox">

    <h4> Search For Fast Food Franchise </h4>

    <form class="locationsform" ng-submit="locationsCtrl.addLocation()">
       <input class="address" type="text" placeholder="address" ng-model="locationsCtrl.newLocation.address">
       <input class="city" type="text" placeholder="city" ng-model="locationsCtrl.newLocation.city">
       <input class="state" type="text" placeholder="state" ng-model="locationsCtrl.newLocation.state">

       <input class="locationsbutton" type="submit" value="Submit">

       <input class="logout" type="button" value="Logout" ng-click="locationsCtrl.logout()">
    </form>

  </div>



  <ng-map center="8 Flag Rd, Little Rock, AR" class="map"

   zoom="8"
   map-type-id="TERRAIN">

   <marker ng-repeat="location in locationsCtrl.locations" position="{{ location.address }}, {{ location.city }}, {{ location.state }}"></marker>

  </ng-map>

</div>
