.about-blackbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60px;
  background-color: black;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}

.leftbox {
  float: left;
  width: calc(100% - 20px);
  height: 400px;
  background-color: gray;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  background-image: url("http://wallpoper.com/images/00/44/99/40/wood-log_00449940.jpg");
}

@media screen and (min-width: 795px) {
  .leftbox {
    width: calc(50% - 20px);
    height: 800px
  }
}

.rightbox {
  float: right;
  width: calc(100% - 20px);
  height: 400px;
  background-color: crimson;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  background-image: url("../assets/images/Restaurant-Rater-2.png");
  background-size: contain;
  background-size: cover;
  background-position: 23% 0%;
}

@media screen and (min-width: 795px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 800px;
    background-size: cover;
    background-position: 90% 0%;
    background-image: url("../assets/images/Restaurant-Rater-3.png");
  }
}

@media screen and (min-width: 845px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 800px;
    background-size: cover;
    background-position: 40% 10%;
    background-image: url("../assets/images/Restaurant-Rater-4.png");
  }
}

@media screen and (min-width: 1310px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 800px;
    background-size: cover;
    background-position: 55% 10%;
    background-image: url("../assets/images/Restaurant-Rater-5.png");
  }
}



.abouthead {
  color: white;
  margin-top: 80px;
  font-size: 2rem;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  margin-bottom: -10px;
  // transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 500px) {
  .abouthead {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .abouthead {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .abouthead {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 800px) {
  .abouthead {
    font-size: 4rem;
  }
}

@media screen and (min-width: 900px) {
  .abouthead {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .abouthead {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1050px) {
  .abouthead {
    font-size: 2.9rem;
  }
}

@media screen and (min-width: 10100px) {
  .abouthead {
    font-size: 3rem;
  }
}

@media screen and (min-width: 10150px) {
  .abouthead {
    font-size: 3.1rem;
  }
}

@media screen and (min-width: 10200px) {
  .abouthead {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 10250px) {
  .abouthead {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 10300px) {
  .abouthead {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 10350px) {
  .abouthead {
    font-size: 3.4rem;
  }
}

@media screen and (min-width: 10400px) {
  .abouthead {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 10450px) {
  .abouthead {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 10500px) {
  .abouthead {
    font-size: 3.7rem;
  }
}

@media screen and (min-width: 10550px) {
  .abouthead {
    font-size: 3.8rem;
  }
}

@media screen and (min-width: 10600px) {
  .abouthead {
    font-size: 3.9rem;
  }
}

@media screen and (min-width: 10650px) {
  .abouthead {
    font-size: 4rem;
  }
}

@media screen and (min-width: 10700px) {
  .abouthead {
    font-size: 4.1rem;
  }
}

@media screen and (min-width: 10750px) {
  .abouthead {
    font-size: 4.2rem;
  }
}

@media screen and (min-width: 10800px) {
  .abouthead {
    font-size: 4.3rem;
  }
}

@media screen and (min-width: 10850px) {
  .abouthead {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 10900px) {
  .abouthead {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 10950px) {
  .abouthead {
    font-size: 4.6rem;
  }
}

@media screen and (min-width: 1370px) {
  .abouthead {
    font-size: 4rem;
  }
}

.restaurantdis {
  color: white;
  font-size: 1.2rem;
  text-shadow: black 1px 1px 1px;
  padding: 10px;
  width: calc(100% - 14px);
  margin-left: 14px;
}

@media screen and (min-width: 550px) {
  .restaurantdis {
    font-size: 1.5rem;
  }
}
