input[type="submit"], input[type="button"] {
  height: 40px;
  width: 80px;
  background-color: #D65848;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  // box-shadow: black 1px 1px 1px;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #F58D89;
  color: white;
  transition: 0.2s;
}


.headbox {
  width: 90%;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  // border-left: 5px solid black;
  // border-right: 5px solid black;
  border-radius: 5px;


  h4 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 5rem;
    padding-top: 60px;
    padding-bottom: -60;
    color: #FFFFFF;
    text-shadow: black 3px 3px 3px;
    .breakh4 {
      display: block;
    }
  }

  @media screen and (max-width: 450px) {
    h4 {
      font-size: 4.6rem;
    }
  }

  @media screen and (min-width: 549px) {
    h4 {
      font-size: 5rem;
    }
  }

  @media screen and (min-width: 683px) {
    h4 {
      font-size: 7rem;
    }
  }

  @media screen and (min-width: 683px) {
    h4 {
      .breakh4 {
        display: none;
      }
    }
  }
}



@media screen and (min-width: 471px) {
  .headbox {
    height: 320px;
  }

  @media screen and (min-width: 652px) {
    .headbox {
      height: 220px;
    }
  }

  @media screen and (min-width: 683px) {
    .headbox {
      height: 300px;
    }
  }


  @media screen and (min-width: 712px) {
    .headbox {
      height: 220px;
      height: 300px;
      color: black;
    }
  }

  @media screen and (min-width: 935px) {
    .headbox {
      height: 300px;
    }
  }

  @media screen and (min-width: 1308px) {
    .headbox {
      height: 150px;
    }
  }

  @media screen and (min-width: 1361px) {
    .headbox {
      height: 150px;
    }
  }
}


img {
  width: 45px;
  float: left;
  margin-right: 2%;
  margin-left: -5%;
  margin-top: 0.7px;
}

.address {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.city {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.state {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.map {
  width: 70%;
  height: 280px;
  margin: 0 auto;
  overflow-y: scroll;
  box-shadow: 3px 2px 40px -7px rgba(0,0,0,0.75);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 652px) {
  .map {
    height: 400px;
  }
}

.undermaptext {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;

  .noresults {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: black 2px 2px 2px;
    margin-top: -1%;
    transition: all 0.2s ease-in-out;
  }

  .clickforresults {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: black 2px 2px 2px;
    margin-top: -1%;
    transition: all 0.2s ease-in-out;
  }

  .clickforresults:hover {
    font-size: 2.2rem;
    transition: 0.2s;
  }
}

.locationsform {
  // width: calc(auto - 10px);
  // margin: 0 auto 5%;
  margin: 0 0 5% 10%;
  margin-bottom: 100px;

}

@media screen and (min-width: 610px) {
  .locationsform {
    margin: 0 0 5% 11%;
  }
}

@media screen and (min-width: 630px) {
  .locationsform {
    margin: 0 0 5% 13%;
  }
}

@media screen and (min-width: 652px) {
  .locationsform {
    margin: 0 0 5% 10%;
  }
}


@media screen and (min-width: 810px) {
  .locationsform {
    margin: 0 0 5% 11%;
  }
}

@media screen and (min-width: 830px) {
  .locationsform {
    margin: 0 0 5% 12%;
  }
}

@media screen and (min-width: 850px) {
  .locationsform {
    margin: 0 0 5% 13%;
  }
}

@media screen and (min-width: 870px) {
  .locationsform {
    margin: 0 0 5% 13%;
  }
}

@media screen and (min-width: 890px) {
  .locationsform {
    margin: 0 0 5% 14%;
  }
}

@media screen and (min-width: 910px) {
  .locationsform {
    margin: 0 0 5% 14.5%;
  }
}

@media screen and (min-width: 930px) {
  .locationsform {
    margin: 0 0 5% 16%;
  }
}

@media screen and (min-width: 950px) {
  .locationsform {
    margin: 0 0 5% 16%;
  }
}

@media screen and (min-width: 970px) {
  .locationsform {
    margin: 0 0 5% 17%;
  }
}

@media screen and (min-width: 990px) {
  .locationsform {
    margin: 0 0 5% 18%;
  }
}

@media screen and (min-width: 1010px) {
  .locationsform {
    margin: 0 0 5% 18%;
  }
}

@media screen and (min-width: 1030px) {
  .locationsform {
    margin: 0 0 5% 19%;
  }
}

@media screen and (min-width: 1050px) {
  .locationsform {
    margin: 0 0 5% 19.5%;
  }
}

@media screen and (min-width: 1090px) {
  .locationsform {
    margin: 0 0 5% 21%;
  }
}

@media screen and (min-width: 1140px) {
  .locationsform {
    margin: 0 0 5% 22%;
  }
}

@media screen and (min-width: 1170px) {
  .locationsform {
    margin: 0 0 5% 23%;
  }
}

@media screen and (min-width: 1220px) {
  .locationsform {
    margin: 0 0 5% 24%;
  }
}

@media screen and (min-width: 1270px) {
  .locationsform {
    margin: 0 0 5% 25%;
  }
}

@media screen and (min-width: 1308px) {
  .locationsform {
    margin: 0 0 5% 10.3%;
  }
}





.locationsbutton {
  cursor: pointer;
  background-color: none;
  width: 20%;
  height: 10%;
  color: black;
  margin-left: 11%;
}

@media screen and (min-width: 652px ) {
 .locationsbutton {
   margin-left: 0%;
 }
}

.logout {
  cursor: pointer;
  background-color: none;
  width: 20%;
  height: 10%;
  color: black;
}

@media screen and (min-width: 577px) {
  .locationsbutton {
    width: 18%;
  }

  @media screen and (min-width: 577px) {
    .logout {
      width: 18%;
    }
  }

  @media screen and (min-width: 652px) {
    .thebreak {
      display: none;
      margin-left: 1.8%;
    }
  }

  @media screen and (min-width: 700px) {
    .locationsbutton {
      margin-left: 1.8%;
    }
  }

}



#homesection {
  width: 100%;
  height: 1080px;
  margin-bottom: 0;
  margin: 0;
  background-image: url("../assets/images/Food.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.searchbox {
  width: 50%;
  height: 40px;
  padding-left: 1%;
  font-size: 20px;
  margin-bottom: 2%;
  transition: all 0.2s ease-in-out;
}


.container {
  width: 80%;
  height: 380px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #eae8e8;
  font-size: 2.7rem;
  border-top: 1px solid #FFFFFF;
  padding-top: 5%;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: black 2px 2px 2px;
  // margin-top: 30px;
}

@media screen and (min-width: 484px) {
  .container {
    height: 320px;
  }

  @media screen and (min-width: 681px) {
    .container {
      height: 280px;
    }
  }

  @media screen and (min-width: 863px) {
    .container {
      height: 250px;
    }
  }

  @media screen and (min-width: 1029px) {
    .container {
      height: 250px;
    }
  }

  @media screen and (min-width: 1029px) {
     .container:hover {
       height: 260px;
     }
  }

  @media screen and (min-width: 1350px) {
    .container {
      height: 180px;
    }
  }

  @media screen and (min-width: 1350px) {
     .container:hover {
       height: 190px;
     }
  }


}

.container:hover {
  opacity: 1;
  width: 75%;
  background-color: #eae8e8;
  border: 1px solid #eae8e8;
  color: #eae8e8;
  box-shadow: 3px 2px 40px -7px rgba(0,0,0,0.75);
  transition-duration: 0.3s;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, .7);
  text-shadow: none;

}

.containertwo {
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 2%;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 1rem;
  font-size: 12px;
}

@media screen and (min-width: 621px) {
  .containertwo {
    font-size: 14px;
  }
}

@media screen and (min-width: 630px) {
  .containertwo {
    font-size: 20px;
  }
}


@media screen and (min-width: 1350px) {
  .containertwo {
    font-size: 14px;
  }
}

@media screen and (min-width: 1390px) {
  .containertwo {
    font-size: 15px;
  }
}

.containertwo:hover {
  color: #eae8e8;
  transition-duration: 0.5s;
}

#bottominstructions {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // border-left: 5px solid #eae8e8;
  // border-right: 5px solid #eae8e8;
  color: white;
  font-size: 74px;
  padding-top: 10px;
  text-shadow: black 3px 3px 3px;
  // background-color: black;
  background-image: url("../assets/images/plate.jpg");
  background-position: 80% 65%;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  text-decoration-style: double;
}

#searchresults {
  background-image: url("../assets/images/WDF_708201.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-attachment: fixed;
}

@media screen and (min-width: 555px) {
  #bottominstructions {
    height: 180px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 603px) {
  #bottominstructions {
    padding-top: 40px;
    height: 140px;
  }
}

@media screen and (min-width: 641px) {
  #bottominstructions {
    padding-top: 40px;
    height: 140px;
  }
}

@media screen and (min-width: 643px) {
  #bottominstructions {
    padding-top: 20px;
    padding-top: 40px;
    height: 130px;
  }
}

@media screen and (min-width: 669px) {
  #bottominstructions {
    padding-top: 10px;
    height: 210px;
    font-size: 91px;
  }
}

@media screen and (min-width: 681px) {
  #bottominstructions {
    padding-top: 10px;
    height: 210px;
    font-size: 91px;
  }
}

@media screen and (min-width: 675px) {
  #bottominstructions {
    height: 210px;
  }
}

@media screen and (min-width: 741px) {
  #bottominstructions {
    padding-top: 40px;
    height: 160px;
  }
}

@media screen and (min-width: 960px) {
  #bottominstructions {
    padding-top: 50px;
    height: 170px;
    font-size: 110px;
  }
}

@media screen and (min-width: 1140px) {
  #bottominstructions {
    padding-top: 60px;
    height: 210px;
    font-size: 130px;
  }
}

@media screen and (min-width: 1310px) {
  #bottominstructions {
    padding-top: 60px;
    height: 230px;
    font-size: 150px;
  }
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:hover {
  color: #2d2d2d;
}

.space {
  display: block;
}

@media screen and (min-width: 1350px) {
  .space {
    display: inline;
    margin: 0 20px;
  }
}

.pizzabreak {
  display: block;
}

@media screen and (min-width: 1029px) {
  .pizzabreak {
    display: none;
  }
}
