
.headbox {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 1px solid #eae8e8;
  border-right: 1px solid #eae8e8;
  padding-left: 4%;
  padding-right: 4%;

  h4 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 4rem;
    color: #e5e5e5;
  }
}

.headbox:hover {
  border-left: 1px solid #d4396d;
  border-right: 1px solid #d4396d;
  transition: 0.5s;
}



img {
  width: 45px;
  float: left;
  margin-right: 2%;
  margin-left: -5%;
  margin-top: 0.7px;
}

.address {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.city {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.state {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase;
}

.map {
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}

.locationsform {
  margin: 0 0 5px 10%;
  height: 100px;
}


.locationsbutton {
  cursor: pointer;
  background-color: none;
  width: 10%;
  color: black;
  margin-left: 1.8%;
}

.logout {
  cursor: pointer;
  background-color: none;
  width: 10%;
  color: black;
}

.main {
  width: 80%;
  height: 50%;
  background-color: none;
  margin: 0 auto;
}

.map {
  margin: 0 auto;
  margin-bottom: 4%;
  width: 90%;
  box-shadow: 3px 2px 98px -7px rgba(0,0,0,0.75);
}

.searchbox {
  width: 400px;
  height: 30px;
  padding-left: 1%;
  font-size: 20px;
}

.container {
  width: 82%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #d8d8d8;
  font-size: 2.7rem;
  border-top: 1px solid #eae8e8;
  padding-top: 11%;
  cursor: pointer;
  padding-left: 4%;
  padding-right: 4%;
}

@media screen and (min-width: 484px) {
  .container {
    height: 170px;
  }
}

.container:hover {
  opacity: 1;
  background-color: #d4396d;
  border: 1px solid #eae8e8;
  // background-color: #d8d8d8;
  color: #2d2d2d;
  box-shadow: 3px 2px 98px -7px rgba(0,0,0,0.75);
  transition: 0.5s;
}

.bottominstructions {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 90px;
  border-left: 1px solid #eae8e8;
  border-right: 1px solid #eae8e8;
  margin-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;

}

.bottominstructions:hover {
  border-left: 1px solid #d4396d;
  border-right: 1px solid #d4396d;
  transition: 0.5s;
}

@media screen and (min-width: 484px) {
  .bottominstructions {

  }
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:hover {
  color: #2d2d2d;
}
