.loginbox {
  margin: 0 auto;
  width: 50%;
  height: 100px;
  border-bottom: 1px solid lightgray;

  .loginemail {
    height: 30px;
    margin-top: 3%;
    width: 40%;
    margin-left: 5%;
  }

  .loginpassword {
    height: 30px;
    margin-top: 3%;
    width: 40%;
    height: 20%;
  }

  .loginbutton {
    margin-top: 3%;
    float: right;
    cursor: pointer;
    background-color: none;
    width: 10%;
    color: #a5a5a5;
  }
}
