.loginbox {
  margin: 0 auto;
  width: 380px;
  height: 100px;

  .logintitle {
    margin-top: 0;
    height: 80px;
    text-align: center;
    color: #8c8c8c;
    font-size: 50px;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-shadow: black 3px 3px 3px;
  }



  .loginemail {
    margin-top: 3%;
    width: 40%;
    margin-left: 5%;
  }

  .loginpassword {
    margin-top: 3%;
    width: 40%;
    height: 20%;
  }

  .loginbutton {
    margin-top: 3%;
    float: right;
    cursor: pointer;
    background-color: none;
    width: 10%;
    color: black;
  }
}
