.loginbox {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding-top: 10px;

  .logintitle {
    height: 80px;
    text-align: center;
    color: #8c8c8c;
    font-size: 50px;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-shadow: black 3px 3px 3px;
  }



  .loginemail {
    margin-top: 3%;
    width: 35%;
    margin-left: 5%;
  }

  .loginpassword {
    margin-top: 3%;
    width: 35%;
    height: 20%;
  }

  .loginbutton {
    margin-top: 0%;
    float: right;
    cursor: pointer;
    background-color: none;
    width: 20%;
    color: black;
  }
}
