
.ratingbox {
  width: 100%;
  height: 800px;
  margin: 0 auto;
}


.question {
  height: 80px;
  text-align: center;
  color: #605f5f;
  font-size: 3rem;
  margin-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-shadow: black 2px 2px 2px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 646px) {
  .question {
    font-size: 4rem;
  }
}

@media screen and (min-width: 940px) {
  .question {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .question {
    font-size: 7rem;
  }
}

.questiondiv:hover .question {
  transition: 0.5s;
  color: #898989;
}

.questiondivtop:hover .question {
  transition: 0.5s;
  color: #898989;
}

.questiondiv {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  font-size: 2.7rem;
  color: #eae8e8;
  border-top: 1px solid #FFFFFF;
  padding-top: 5%;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.questiondivtop {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #eae8e8;
  font-size: 2.7rem;
  border-top: 1px solid #FFFFFF;
  padding-top: 70px;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.questiondivtop:hover {
  width: 95%;
}

.questiondiv:hover {
  width: 95%;
}


select {
  margin-right: 2%;
  width: 20%;
  height: 10%;
  margin-top: 20px;
}


.averagesubmit {
  cursor: pointer;
  color: black;
}
