
.ratingbox {
  width: 100%;
  margin: 0 auto;
  background-image: url("../assets/images/wine.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}


.question {
  height: 80px;
  text-align: center;
  color: #605f5f;
  font-size: 3rem;
  margin-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-shadow: black 3px 3px 3px;
  transition: all 0.3s ease-in-out;
  margin-top: 50px;
}

@media screen and (min-width: 646px) {
  .question {
    font-size: 4rem;
  }
}

@media screen and (min-width: 940px) {
  .question {
    font-size: 5rem;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .question {
    font-size: 7rem;
    margin-top: 20px;
  }
}

.questiondiv:hover .question {
  transition: 0.5s;
  color: #F58D89;
  cursor: default;
}

.questiondivtop:hover .question {
  transition: 0.5s;
  color: #F58D89;
  cursor: default;
}

.questiondiv {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  font-size: 2.7rem;
  color: #eae8e8;
  border-top: 1px solid #FFFFFF;
  padding-top: 5%;
  // overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.questiondivtop {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #eae8e8;
  font-size: 2.7rem;
  border-top: 1px solid #FFFFFF;
  padding-top: 70px;
  // overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 90px;
}

.questiondivtop:hover {
  width: 95%;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.4);
}

.questiondiv:hover {
  width: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 295px;
}


select {
  margin-right: 2%;
  width: 25%;
  height: 10%;
  margin-top: 20px;
  cursor: pointer;
  background-color: lightgray;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.questiondiv:hover select {
  background-color: white;
  transition: 0.3s;
}

.questiondivtop:hover select {
  background-color: white;
  transition: 0.3s;
}


.averagesubmit {
  cursor: pointer;
  color: black;
}
