
.ratingbox {
  width: 50%;
  height: 800px;
  margin: 0 auto;
}

.question {
  height: 80px;
  text-align: center;
  color: #8c8c8c;
  font-size: 40px;
  margin-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-shadow: black 3px 3px 3px;
}

@media screen and (min-width: 646px) {
  .question {
    font-size: 45px;
  }
}

@media screen and (min-width: 940px) {
  .question {
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .question {
    font-size: 54px;
  }
}

.questiondiv:hover .question {
  transition: 0.5s;
  color: #DDDCDA;
}

.questiondiv {
  width: 100%;
  height: 200px;
  border-left: 1px solid #eae8e8;
  border-right: 1px solid #eae8e8;
  margin-bottom: 10%;
  border-radius: 10px;
}

.questiondiv:hover {
  border-left: 1px solid #DDDCDA;
  border-right: 1px solid #DDDCDA;
  transition: 0.5s;

}


select {
  margin-left: 37%;
  margin-right: 2%;
  width: 20%;
  height: 10%;
  margin-top: 20px;
}


.averagesubmit {
  cursor: pointer;
  color: black;
}
