<div class="background">

  <h1 class="apptitle">
    Restaurant Rater
   <h1>


    <h5 class="logintitle"> Login </h5>

    <div class="center">
      <form class="loginform" ng-submit="loginCtrl.login()">
        <input class="loginemail" type="email" placeholder="email" ng-model="loginCtrl.user.email"> <br>
        <input class="loginpassword" type="password" placeholder="password" ng-model="loginCtrl.user.password"> <br>
        <input class="loginbutton" type="submit" value="login">

      </form>
    <div>

</div>
