<div class="background">

  <h1 class="apptitle">
    Restaurant Rater
   <h1>

    <h3> Register </h3>

    <div class="registerinside">

      <div class="center">
        <form class="registerform" ng-submit="registerCtrl.register()">
          <input class="registeremail" type="email" placeholder="email" ng-model="registerCtrl.newUser.email"> <br>
          <input class="registerpassword" type="password" placeholder="password" ng-model="registerCtrl.newUser.password"> <br>
          <input class="registerbutton" type="submit" value="Register">

          <a class="registerbutton" ui-sref="login"> </a>
        </form>
      </div>
    </div>

</div>
