body {
  margin: 0;
  padding: 0 0 0 0;
  background-color: #2D2D2D; }

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  transition: all 0.2s ease-in-out; }
  .nav .navhome {
    font-size: 30px;
    transition: 0.2s; }
  .nav .navhome:hover {
    color: #D65848;
    letter-spacing: 1px; }
  .nav .navrestaurants {
    font-size: 30px;
    transition: 0.2s; }
  .nav .navrestaurants:hover {
    color: #D65848;
    letter-spacing: 1px; }
  .nav .navrate {
    font-size: 30px;
    transition: 0.2s; }
  .nav .navrate:hover {
    color: #D65848;
    letter-spacing: 1px; }
  .nav .navabout {
    font-size: 30px;
    transition: 0.2s; }
  .nav .navabout:hover {
    color: #D65848;
    letter-spacing: 1px; }
  .nav .ul {
    width: 700px;
    float: left;
    margin-top: 0 auto;
    margin-bottom: 0;
    list-style-type: none; }
    .nav .ul li {
      float: left;
      color: white;
      margin-right: 40px;
      margin-top: -5px;
      font-size: 20px;
      text-shadow: black 2px 2px 2px; }
      .nav .ul li a {
        color: #F58D89; }

@media screen and (max-width: 450px) {
  .ul {
    padding-left: 10px; } }

.li:hover {
  color: white;
  transition: 0.5s; }

.apptitle {
  font-size: 5rem;
  margin: 0;
  color: white;
  text-shadow: black 3px 3px 3px;
  margin: 0 auto;
  text-align: center; }

@media screen and (min-width: 598px) {
  .apptitle {
    font-size: 7rem; } }

@media screen and (min-width: 1050px) {
  .apptitle {
    font-size: 8rem; } }

@media screen and (min-width: 1150px) {
  .apptitle {
    font-size: 8.5rem; } }

@media screen and (min-width: 1320px) {
  .apptitle {
    font-size: 10rem; } }

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/iio.jpg"); }

.loginemail {
  height: 20px;
  width: 140px;
  margin-bottom: 10%; }

@media screen and (min-width: 598px) {
  .logineremail {
    margin-top: 10%; } }

.loginpassword {
  height: 20px;
  width: 140px;
  margin-bottom: 10%; }

.loginbutton {
  margin-top: 0%;
  float: right;
  cursor: pointer;
  background-color: none;
  width: 20%;
  color: black; }

.logintitle {
  height: 80px;
  text-align: center;
  color: #727272;
  font-size: 50px;
  margin-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0;
  text-shadow: black 3px 3px 3px; }

@media screen and (min-width: 598px) {
  .logintitle {
    font-size: 80px;
    margin-bottom: 10%; } }

@media screen and (min-width: 598px) {
  .logintitle {
    font-size: 100px;
    margin-bottom: 5%; } }

.center {
  width: 35%;
  margin-left: 100px;
  height: 100vh;
  margin: 0 auto; }

@media screen and (min-width: 500px) {
  .center {
    width: 30%; } }

@media screen and (min-width: 575px) {
  .center {
    width: 25%; } }

@media screen and (min-width: 680px) {
  .center {
    width: 20%; } }

@media screen and (min-width: 845px) {
  .center {
    width: 15%; } }

@media screen and (min-width: 1130px) {
  .center {
    width: 15%; } }

@media screen and (min-width: 1170px) {
  .center {
    width: 12%; } }

@media screen and (min-width: 1400px) {
  .center {
    width: 10%; } }

.apptitle {
  font-size: 5rem;
  margin: 0;
  color: white;
  text-shadow: black 3px 3px 3px;
  margin: 0 auto;
  text-align: center; }

@media screen and (min-width: 598px) {
  .apptitle {
    font-size: 7rem; } }

@media screen and (min-width: 1050px) {
  .apptitle {
    font-size: 8rem; } }

@media screen and (min-width: 1150px) {
  .apptitle {
    font-size: 8.5rem; } }

@media screen and (min-width: 1320px) {
  .apptitle {
    font-size: 10rem; } }

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/iio.jpg"); }

.registeremail {
  height: 20px;
  width: 140px;
  margin-bottom: 10%; }

@media screen and (min-width: 598px) {
  .registeremail {
    margin-top: 10%; } }

.registerpassword {
  height: 20px;
  width: 140px;
  margin-bottom: 10%; }

.center {
  width: 35%;
  margin-left: 100px;
  height: 100vh;
  margin: 0 auto; }

@media screen and (min-width: 500px) {
  .center {
    width: 30%; } }

@media screen and (min-width: 575px) {
  .center {
    width: 25%; } }

@media screen and (min-width: 680px) {
  .center {
    width: 20%; } }

@media screen and (min-width: 845px) {
  .center {
    width: 15%; } }

@media screen and (min-width: 1130px) {
  .center {
    width: 15%; } }

@media screen and (min-width: 1170px) {
  .center {
    width: 12%; } }

@media screen and (min-width: 1400px) {
  .center {
    width: 10%; } }

.registerdiv {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 200px; }
  .registerdiv .registerinside {
    height: 100px; }
    .registerdiv .registerinside .registerform {
      width: 30%;
      margin-top: 40px;
      margin: 0 auto; }
    .registerdiv .registerinside .registerbutton {
      cursor: pointer; }

h3 {
  height: 80px;
  text-align: center;
  color: #727272;
  font-size: 50px;
  margin-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0;
  text-shadow: black 3px 3px 3px; }

@media screen and (min-width: 598px) {
  h3 {
    font-size: 80px;
    margin-bottom: 10%; } }

@media screen and (min-width: 598px) {
  h3 {
    font-size: 100px;
    margin-bottom: 5%; } }

input[type="submit"], input[type="button"] {
  height: 40px;
  width: 80px;
  background-color: #D65848;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  transition: all 0.2s ease-in-out; }

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #F58D89;
  color: white;
  transition: 0.2s; }

input[type="button"].viewresultsbutton {
  width: 130px;
  cursor: pointer; }

input[type="button"].viewresultsbutton:hover {
  background-color: #F58D89;
  width: 140px;
  font-size: 19px;
  color: white;
  transition: 0.2s; }

.headbox {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px; }
  .headbox h4 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 5rem;
    padding-top: 60px;
    padding-bottom: -60;
    color: #FFFFFF;
    text-shadow: black 3px 3px 3px; }
    .headbox h4 .breakh4 {
      display: block; }
  @media screen and (max-width: 450px) {
    .headbox h4 {
      font-size: 4.6rem; } }
  @media screen and (min-width: 549px) {
    .headbox h4 {
      font-size: 5rem; } }
  @media screen and (min-width: 683px) {
    .headbox h4 {
      font-size: 7rem; } }
  @media screen and (min-width: 683px) {
    .headbox h4 .breakh4 {
      display: none; } }
  @media screen and (min-width: 1308px) {
    .headbox h4 {
      font-size: 8.5rem; } }

@media screen and (min-width: 471px) {
  .headbox {
    height: 250px; } }

@media screen and (min-width: 471px) and (min-width: 652px) {
  .headbox {
    height: 220px; } }

@media screen and (min-width: 471px) and (min-width: 665px) {
  .headbox {
    height: 120px; } }

@media screen and (min-width: 471px) and (min-width: 683px) {
  .headbox {
    height: 290px; } }

@media screen and (min-width: 471px) and (min-width: 930px) {
  .headbox {
    height: 160px; } }

@media screen and (min-width: 471px) and (min-width: 1308px) {
  .headbox {
    height: 180px; } }

img {
  width: 45px;
  float: left;
  margin-right: 2%;
  margin-left: -5%;
  margin-top: 0.7px; }

.address {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase; }

.city {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase; }

.state {
  width: 200px;
  height: 30px;
  outline: none;
  text-transform: uppercase; }

.map {
  width: 70%;
  height: 280px;
  margin: 0 auto;
  overflow-y: scroll;
  box-shadow: 3px 2px 40px -7px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out; }

@media screen and (min-width: 652px) {
  .map {
    height: 400px; } }

.undermaptext {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center; }
  .undermaptext .noresults {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: black 2px 2px 2px;
    margin-top: -1%;
    transition: all 0.2s ease-in-out; }
  .undermaptext .clickforresults {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: black 2px 2px 2px;
    margin-top: -1%;
    transition: all 0.2s ease-in-out; }
  .undermaptext .clickforresults:hover {
    font-size: 2.2rem;
    transition: 0.2s; }

.locationsform {
  margin: 0 0 5% 10%;
  margin-bottom: 100px; }

@media screen and (min-width: 610px) {
  .locationsform {
    margin: 0 0 5% 11%; } }

@media screen and (min-width: 630px) {
  .locationsform {
    margin: 0 0 5% 13%; } }

@media screen and (min-width: 652px) {
  .locationsform {
    margin: 0 0 5% 10%; } }

@media screen and (min-width: 810px) {
  .locationsform {
    margin: 0 0 5% 11%; } }

@media screen and (min-width: 830px) {
  .locationsform {
    margin: 0 0 5% 12%; } }

@media screen and (min-width: 850px) {
  .locationsform {
    margin: 0 0 5% 13%; } }

@media screen and (min-width: 870px) {
  .locationsform {
    margin: 0 0 5% 13%; } }

@media screen and (min-width: 890px) {
  .locationsform {
    margin: 0 0 5% 14%; } }

@media screen and (min-width: 910px) {
  .locationsform {
    margin: 0 0 5% 14.5%; } }

@media screen and (min-width: 930px) {
  .locationsform {
    margin: 0 0 5% 16%; } }

.locationsbutton {
  cursor: pointer;
  background-color: none;
  width: 20%;
  height: 10%;
  color: black;
  margin-left: 11%; }

@media screen and (min-width: 652px) {
  .locationsbutton {
    margin-left: 0%; } }

.logout {
  cursor: pointer;
  background-color: none;
  width: 20%;
  height: 10%;
  color: black; }

@media screen and (min-width: 577px) {
  .locationsbutton {
    width: 18%; } }

@media screen and (min-width: 577px) and (min-width: 577px) {
  .logout {
    width: 18%; } }

@media screen and (min-width: 577px) and (min-width: 652px) {
  .thebreak {
    display: none;
    margin-left: 1.8%; } }

@media screen and (min-width: 577px) and (min-width: 700px) {
  .locationsbutton {
    margin-left: 1.8%; } }

#homesection {
  width: 100%;
  height: 1080px;
  margin-bottom: 0;
  margin: 0;
  background-image: url("./assets/images/Food.jpg");
  background-size: cover;
  background-attachment: fixed; }

.searchbox {
  width: 50%;
  height: 40px;
  padding-left: 1%;
  font-size: 20px;
  margin-bottom: 2%;
  transition: all 0.2s ease-in-out; }

.container {
  width: 80%;
  height: 380px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #eae8e8;
  font-size: 2.7rem;
  border-top: 1px solid #FFFFFF;
  padding-top: 5%;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: black 2px 2px 2px; }

@media screen and (min-width: 484px) {
  .container {
    height: 320px; } }

@media screen and (min-width: 484px) and (min-width: 681px) {
  .container {
    height: 280px; } }

@media screen and (min-width: 484px) and (min-width: 863px) {
  .container {
    height: 250px; } }

@media screen and (min-width: 484px) and (min-width: 1029px) {
  .container {
    height: 250px; } }

@media screen and (min-width: 484px) and (min-width: 1029px) {
  .container:hover {
    height: 260px; } }

@media screen and (min-width: 484px) and (min-width: 1350px) {
  .container {
    height: 180px; } }

@media screen and (min-width: 484px) and (min-width: 1350px) {
  .container:hover {
    height: 190px; } }

.container:hover {
  opacity: 1;
  width: 75%;
  background-color: #eae8e8;
  border: 1px solid #eae8e8;
  color: #eae8e8;
  box-shadow: 3px 2px 40px -7px rgba(0, 0, 0, 0.75);
  transition-duration: 0.3s;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: none; }

.containertwo {
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 2%;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 1rem;
  font-size: 12px; }

@media screen and (min-width: 621px) {
  .containertwo {
    font-size: 14px; } }

@media screen and (min-width: 630px) {
  .containertwo {
    font-size: 20px; } }

@media screen and (min-width: 1350px) {
  .containertwo {
    font-size: 14px; } }

@media screen and (min-width: 1390px) {
  .containertwo {
    font-size: 15px; } }

.containertwo:hover {
  color: #eae8e8;
  transition-duration: 0.5s; }

#bottominstructions {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 74px;
  padding-top: 10px;
  text-shadow: black 3px 3px 3px;
  background-image: url("./assets/images/plate.jpg");
  background-position: 80% 65%;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  text-decoration-style: double; }

#searchresults {
  background-image: url("./assets/images/WDF_708201.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-attachment: fixed; }

@media screen and (min-width: 555px) {
  #bottominstructions {
    height: 180px;
    padding-top: 10px; } }

@media screen and (min-width: 603px) {
  #bottominstructions {
    padding-top: 40px;
    height: 140px; } }

@media screen and (min-width: 641px) {
  #bottominstructions {
    padding-top: 40px;
    height: 140px; } }

@media screen and (min-width: 643px) {
  #bottominstructions {
    padding-top: 20px;
    padding-top: 40px;
    height: 130px; } }

@media screen and (min-width: 669px) {
  #bottominstructions {
    padding-top: 10px;
    height: 210px;
    font-size: 91px; } }

@media screen and (min-width: 681px) {
  #bottominstructions {
    padding-top: 10px;
    height: 210px;
    font-size: 91px; } }

@media screen and (min-width: 675px) {
  #bottominstructions {
    height: 210px; } }

@media screen and (min-width: 741px) {
  #bottominstructions {
    padding-top: 40px;
    height: 160px; } }

@media screen and (min-width: 960px) {
  #bottominstructions {
    padding-top: 50px;
    height: 170px;
    font-size: 110px; } }

@media screen and (min-width: 1140px) {
  #bottominstructions {
    padding-top: 60px;
    height: 210px;
    font-size: 130px; } }

@media screen and (min-width: 1310px) {
  #bottominstructions {
    padding-top: 60px;
    height: 230px;
    font-size: 150px; } }

a {
  text-decoration: none;
  color: #2d2d2d; }

a:hover {
  color: #2d2d2d; }

.space {
  display: block; }

@media screen and (min-width: 1350px) {
  .space {
    display: inline;
    margin: 0 20px; } }

.pizzabreak {
  display: block; }

@media screen and (min-width: 1029px) {
  .pizzabreak {
    display: none; } }

.ratingbox {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-image: url("./assets/images/wine.jpeg");
  background-size: cover;
  background-attachment: fixed; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.question {
  height: 80px;
  text-align: center;
  color: #605f5f;
  font-size: 3rem;
  margin-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-shadow: black 3px 3px 3px;
  transition: all 0.3s ease-in-out;
  margin-top: 50px; }

@media screen and (min-width: 646px) {
  .question {
    font-size: 4rem; } }

@media screen and (min-width: 940px) {
  .question {
    font-size: 5rem;
    margin-top: 40px; } }

@media screen and (min-width: 1200px) {
  .question {
    font-size: 7rem;
    margin-top: 20px; } }

.questiondiv:hover .question {
  transition: 0.5s;
  color: #F58D89;
  cursor: default; }

.questiondivtop:hover .question {
  transition: 0.5s;
  color: #F58D89;
  cursor: default; }

.questiondivsub {
  width: 120px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  font-size: 2.7rem;
  color: #eae8e8;
  border-top: 1px solid #FFFFFF;
  padding-top: 1.66;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5); }

.questiondivsub:hover {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.4); }

.questiondiv {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  font-size: 2.7rem;
  color: #eae8e8;
  border-top: 1px solid #FFFFFF;
  padding-top: 1.66;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5); }

.questiondivtop {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: #eae8e8;
  font-size: 2.7rem;
  border-top: 1px solid #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 90px; }

.questiondivtop:hover {
  width: 75%;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.4); }

.questiondiv:hover {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 195px; }

select {
  margin-right: 2%;
  width: 25%;
  height: 10%;
  margin-top: 20px;
  cursor: pointer;
  background-color: lightgray;
  outline: none;
  transition: all 0.3s ease-in-out; }

.questiondiv:hover select {
  background-color: white;
  transition: 0.3s; }

.questiondivtop:hover select {
  background-color: white;
  transition: 0.3s; }

.averagesubmit {
  cursor: pointer;
  color: black;
  margin: 0 auto; }

.about-blackbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60px;
  background-color: #C36146;
  z-index: 98;
  transition: all 0.2s ease-in-out; }

.leftbox {
  float: left;
  width: calc(100% - 20px);
  height: 400px;
  background-color: gray;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  background-image: url("http://wallpoper.com/images/00/44/99/40/wood-log_00449940.jpg"); }

@media screen and (min-width: 795px) {
  .leftbox {
    width: calc(50% - 20px);
    height: 810px; } }

.rightbox {
  float: right;
  width: calc(100% - 20px);
  height: 400px;
  background-color: crimson;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  background-image: url("./assets/images/Restaurant-Rater-2.png");
  background-size: contain;
  background-size: cover;
  background-position: 23% 0%; }

@media screen and (min-width: 795px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 810px;
    background-size: cover;
    background-position: 90% 0%;
    background-image: url("./assets/images/Restaurant-Rater-3.png"); } }

@media screen and (min-width: 845px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 810px;
    background-size: cover;
    background-position: 40% 10%;
    background-image: url("./assets/images/Restaurant-Rater-4.png"); } }

@media screen and (min-width: 1310px) {
  .rightbox {
    width: calc(50% - 20px);
    height: 810px;
    background-size: cover;
    background-position: 55% 10%;
    background-image: url("./assets/images/Restaurant-Rater-5.png"); } }

.abouthead {
  color: white;
  margin-top: 80px;
  font-size: 2rem;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  margin-bottom: -10px; }

@media screen and (min-width: 500px) {
  .abouthead {
    font-size: 2rem; } }

@media screen and (min-width: 600px) {
  .abouthead {
    font-size: 3rem; } }

@media screen and (min-width: 700px) {
  .abouthead {
    font-size: 3.5rem; } }

@media screen and (min-width: 800px) {
  .abouthead {
    font-size: 4rem; } }

@media screen and (min-width: 900px) {
  .abouthead {
    font-size: 2.5rem; } }

@media screen and (min-width: 1000px) {
  .abouthead {
    font-size: 2.8rem; } }

@media screen and (min-width: 1050px) {
  .abouthead {
    font-size: 2.9rem; } }

@media screen and (min-width: 10100px) {
  .abouthead {
    font-size: 3rem; } }

@media screen and (min-width: 10150px) {
  .abouthead {
    font-size: 3.1rem; } }

@media screen and (min-width: 10200px) {
  .abouthead {
    font-size: 3.2rem; } }

@media screen and (min-width: 10250px) {
  .abouthead {
    font-size: 3.2rem; } }

@media screen and (min-width: 10300px) {
  .abouthead {
    font-size: 3.3rem; } }

@media screen and (min-width: 10350px) {
  .abouthead {
    font-size: 3.4rem; } }

@media screen and (min-width: 10400px) {
  .abouthead {
    font-size: 3.5rem; } }

@media screen and (min-width: 10450px) {
  .abouthead {
    font-size: 3.6rem; } }

@media screen and (min-width: 10500px) {
  .abouthead {
    font-size: 3.7rem; } }

@media screen and (min-width: 10550px) {
  .abouthead {
    font-size: 3.8rem; } }

@media screen and (min-width: 10600px) {
  .abouthead {
    font-size: 3.9rem; } }

@media screen and (min-width: 10650px) {
  .abouthead {
    font-size: 4rem; } }

@media screen and (min-width: 10700px) {
  .abouthead {
    font-size: 4.1rem; } }

@media screen and (min-width: 10750px) {
  .abouthead {
    font-size: 4.2rem; } }

@media screen and (min-width: 10800px) {
  .abouthead {
    font-size: 4.3rem; } }

@media screen and (min-width: 10850px) {
  .abouthead {
    font-size: 4.4rem; } }

@media screen and (min-width: 10900px) {
  .abouthead {
    font-size: 4.5rem; } }

@media screen and (min-width: 10950px) {
  .abouthead {
    font-size: 4.6rem; } }

@media screen and (min-width: 1370px) {
  .abouthead {
    font-size: 4rem; } }

.restaurantdis {
  color: white;
  font-size: 1.2rem;
  text-shadow: black 1px 1px 1px;
  padding: 10px;
  width: calc(100% - 14px);
  margin-left: 14px; }

@media screen and (min-width: 550px) {
  .restaurantdis {
    font-size: 1.5rem; } }
